# This is a default haproxy config, for the initial start of haproxy when there are no containers around or docker-gen is starting
global
        daemon
        maxconn 1024
        log 127.0.0.1 local0 debug
        nbproc 1

defaults
        mode http
        timeout client 60s
        timeout connect 60s
        timeout server 60s
        option redispatch
        option forwardfor 
        option http-server-close

frontend http-in
        bind 10.x.x.x:80
        rspadd X-Forwarded-Host:\ http:\\\ha.flamingotter.com
        rspadd X-Forwarded-Host:\ http:\\\unifi.flamingotter.com
        redirect scheme https code 301 if !{ ssl_fc }

frontend https-in 
        bind 10.x.x.x:443 ssl crt /etc/ssl/bundle.pem 
        rspadd X-Forwarded-Host:\ https:\\\\ha.flamingotter.com 
        rspadd X-Forwarded-Host:\ https:\\\\unifi.flamingotter.com
        rspadd Strict-Transport-Security:\ max-age=31536000

backend ha
        server ha01 10.0.10.10:8123
        
backen unifi
        server unifi01 10.0.10.10:8443
